/* Lets set up some colours, via hexadecimal vlaues, that we can use throughout our script for styling our webpage */
:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --grey: #6B7280;
  --light: #dcd9d9;
  --pink: #EC4899;
  --purple: #8B5CF6;
  --darkpurple: #242943; /* dark purple/blue like email BG #242943, or light purple/grey: rgba(212, 212, 255, 0.1)  */
  }

body {
  background-color: var(--darkpurple);
  color: #ddd;
  padding: 50px;
}

h1{
  color: #eef;
  text-align: center;
}